div {
    box-sizing: border-box;
}
.normal-font {
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: 0.02em;
}
.flex-container {
    display: flex;
    align-items: center;
}
.align-start {
    text-align: start;
}
.align-center {
    text-align: center;
}
.title-img {
    margin-top: 120px;
}
.title {
    margin-top: 13px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1A1A;
}
.headline-title {
    background-image: radial-gradient( #F4A628, #16534c, #FD7C2A, #A829FE);
    color :transparent; 
    background-clip:text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 13px;
}
.description {
    width: 900px;
    margin: 35px auto 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
}
.description >a {
    color: #036AC4;
}
.normal-title {
    color: #1A1A1A;
    text-align: start;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.sub-title {
    width: 900px;
    margin: 0 auto 8px;
}
.suggestion-title {
    margin-bottom: 8px;
}
.words-number {
    width: 900px;
    margin: 4px auto 0;
    text-align: end;
}
.btns {
    width: 900px;
    display: flex;
    gap: 10px;
    margin: 8px auto 0;
    justify-content: flex-end;
}
#text-area {
    width: 900px;
    height: 300px;
    margin: 0 auto;
    border-radius: 4px;
    text-align: justify;
}
#sample-btn {
    height: 42px;
    border-radius: 4px;
    padding: 0 10px;
}
#primary-btn {
    height: 42px;
    border-radius: 4px;
    padding: 0 10px;
    background-color: #036AC4;
}
#import-btn {
    border-radius: 4px;
    padding: 0 10px;
    background-color: #036AC4;
}
#input {
    width: 778px;
    margin-right: 8px;
    border-radius: 4px;
}
.suggestion {
    width: 900px;
    padding: 16px 18px 6px;
    background-color: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.customize-suggestion {
    margin: 24px auto 0;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
}
.msn-suggestion {
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}
.suggestion-header {
    width: 900px;
    margin: 24px auto 0;
    padding: 24px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EBEBEB;
    border-radius: 4px 4px 0 0;
}
.suggestion-header img {
    width: 88px;
    height: 50px;
    border-radius: 4px;
}
.list-item {
    min-height: 44px;
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy {
    cursor: pointer;
}
.border-bottom {
    border-bottom: 1px solid #E1E1E1;
}
.original-headline {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #717171;
    margin-bottom: 4px;
}
.original-title {
    max-width: 750px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}
.number-container {
    min-width: 52px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 38px;
}
.add {
    color: #0F7B0F;
}
.minus {
    color: #717171;
}
.customize-title {
    max-width: 800px;
    text-align: start;
}
.msn-title {
    max-width: 740px;
    text-align: start;
}