.mousex-slider {
    position: relative;
    /* padding: 0 32px; */
    padding: 0 18px;
    width: 100%;
  }
  .mousex-slider-items-container {
    height: 238px;
  }
  .mousex-slider-btn-prev,
  .mousex-slider-btn-next {
    position: absolute;
    top: 0;
    width: 32px;
    height: 100%;
    color: rgb(213, 219, 230);
    cursor: pointer;
    user-select: none;
  }

  .mousex-slider-btn-prev,
  .mousex-slider-btn-next {
    display: none;
  }
  
  .mousex-slider-btn-prev {
    left: 0;
  }
  
  .mousex-slider-btn-next {
    right: 0;
  }
  
  .mousex-slider-btn-show {
    display: inline;
  }
  
  .mousex-slider-btn-disabled {
    cursor: not-allowed;
  }
  
  .mousex-slider-btn-prev-icon,
  .mousex-slider-btn-next-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    font-weight: 700;
    transform: translate(-50%, -50%);
  }
  
  .mousex-slider-items-wrapper {
    position: relative;
    margin: 0 16px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .mousex-slider-items-scroller {
    display: inline-block;
  }
  
  .mousex-slider-items-scroller.animated {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .mousex-slider-item {
    display: inline-block;
    width: 200px;
    height: 99px;
    margin: 3px 35px 3px 3px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .mousex-slider-item:last-of-type {
    margin-right: 32px;
  }
  
  /* .mousex-slider-item.selected,
  .mousex-slider-item.selected:hover {
    box-shadow: 0 0 3px 3px #c0ddff;
  } */
  
  /* .mousex-slider-item:hover { */
    /* box-shadow: 0 0 2px 2px rgba(219, 229, 240, 1); */
  /* } */